.taskCard{
  flex:1;
  outline: none;
  border: none;
  cursor: pointer;
  min-width: 10rem;
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: .5rem;
  background-color: white;
  margin: .5rem 1rem .5rem 0;
  transition: .2s ease-out;
}

.taskCard:hover{
  transform: scale(1.05);
}

.taskCard:active{
  background: #e1e1e1;
}

.taskCard:last-child{
  margin-right: 0;
}

.cabecalhoTaskCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cabecalhoTaskCard svg{
  width: 4.5rem;
  height: 4.5rem;
  margin-top: 1rem;
  padding: .4rem;
}

.cabecalhoTaskCard span{
  padding: .2rem;
  font-size: .725rem;
  text-align: center;
}

.prazoEStatusTaskCard{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: .2rem .5rem;
  margin-top: 1rem;
}

.prazoEStatusTaskCard svg{
  padding: .3rem;
}

.prazo span{
  color: #7A7A7A;
  display: block;
  text-transform: uppercase;
  text-align: start;
}
.prazo span:first-child{
  font-weight: 300;
  line-height: .2rem;
}

.prazo span:last-child{
  font-weight: bold;
}