.footer{
  position: fixed;
  width: 100%;
  padding: .4rem;
  background: var(--cor-primaria);
  z-index: 100;
  border-top: .5rem solid var(--cor-enfase);
  text-align: center;
  bottom: 0;
  color: white;
}