.header{
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, .3);
  position: fixed;
  width: 100%;
  background: var(--cor-primaria);
  z-index: 100;
  top: 0;
  border-bottom: .5rem solid var(--cor-enfase);
}

.nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
  height: 3.5rem;
  font-weight: 500;
  font-size: 1.125rem;
}

.menu{
  display: flex;
  align-items: center;
}

.menu a{
  padding: .7rem;
  color: white;
  margin: 0 .5rem;
}

.menu a:hover{
  color: var(--cor-enfase);
  transition: .2s ease;
}