.snackbarContainer{
  position: fixed;
  z-index: 1000;
}

.snackbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem;
  margin: 1rem;
  max-width: 70vw;
  min-width: 10rem;
  border-radius: .3rem;
  opacity: 0;
}

.snackbar[posicao-nominal~="acima"]{
  animation: animarSnackAcima .3s forwards;
}

.snackbar[posicao-nominal~="abaixo"]{
  animation: animarSnackAbaixo .3s forwards;
}

.callAction{
  outline: none;
  border: none;
  font-size: 1rem;
  letter-spacing: .1rem;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
}

@keyframes animarSnackAcima{
  to{
    opacity: initial;
    transform: translateY(+1rem);
  }
}

@keyframes animarSnackAbaixo{
  to{
    opacity: initial;
    transform: translateY(-1rem);
  }
}