.filtroCard{
  outline: none;
  border: none;
  margin: .5rem;
  min-width: 10rem;
  height: 4rem;
  background: var(--cor-secundaria);
  padding: 1rem;
  border-radius: .5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  transition: .2s ease-out;
}

.filtroCard:last-child{
  margin: 0;
}

.filtroCard::before{
  content: url("../../../assets/filtro.svg");
}

.filtroCard::after{
  content: attr(data-filtro);
  color: white;
  font-weight: 500;
}

.filtroCard:hover,
.filtroCard:focus{
  cursor: pointer;
  background: var(--cor-enfase);
}