*{
  box-sizing: border-box;
}

body{
  margin: 0;
  color: #333;
  --tipo_principal: Helvetica, Arial, sans-serif;
  --tipo_secundario: 'Spectral', Georgia;
  font-family: var(--tipo_principal);
  padding-top: 4rem;
}

h1,h2,h3,h4,p{
  margin: 0;
}

ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}

img{
  display: block;
  max-width: 100%;
}

button{
  display: block;
  font-size: 1rem;
  font-family: var(--tipo_principal);
  color: #333;
}

a{
  text-decoration: none;
  color: #333;
}

.container{
  max-width: 75rem;
  padding: 0 1rem;
  margin: 0 auto;
}