:root{
  --cor-primaria: #020873;
  --cor-secundaria: #575FFF;
  --cor-enfase: #60D16F;
  --cor-erro: #e65757;
  --cor-background:#f8f8f8;
  --texto-preto: #333;
  --font-principal: Poppins, Helvetica, Arial, sans-serif;
  --font_secundaria: 'Spectral', Georgia;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  color: var(--texto-preto);
  font-family: var(--font-principal);
  padding-top: 4rem;
  background:  var(--cor-background);
}

h1,h2,h3,h4,p,span{
  margin: 0;
  color:var(--texto-preto)
}

ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}

img{
  display: block;
  max-width: 100%;
}

button{
  display: block;
  font-size: 1rem;
  font-family: var(--font-principal);
  color: var(--texto-preto);
}

a{
  text-decoration: none;
  color: var(--texto-preto);
}

.container{
  max-width: 90rem;
  padding: 0 8rem;
  margin: 0 auto;
}

.animarFadeInDeCima{
  opacity: 0;
  transform: translateY(-20px);
  animation: animarFadeInDeCima .3s forwards;
}

@keyframes animarFadeInDeCima{
  to{
    opacity: 1;
    transform: initial;
  }
}