.filtroCard{
  outline: none;
  border: none;
  margin: 0 2rem 0 0;
  min-width: 10rem;
  height: 60px;
  background: var(--cor-secundaria);
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 5px 5px 12px 1px rgba(0, 0, 0, .3);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  transition: .2s ease-out;
}

.filtroCard:last-child{
  margin: 0;
}

.filtroCard::before{
  content: url("../../Assets/filtro.svg");
}

.filtroCard::after{
  content: attr(data-filtro);
  color: white;
  font-weight: 500;
}

.filtroCard:hover,
.filtroCard:focus{
  cursor: pointer;
  background: var(--cor-enfase);
}